.column {
  width: 300px; /* Fixed width */
  min-width: 300px; /* Handling many columns */
  background-color: #f1f5f9;
  padding: 16px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  max-height: 100%; /* Avoiding growth more than screen height */
}

.header {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 16px;
  color: #0f172a;
  font-weight: 600;
}

.taskContainer {
  display: flex;
  flex-direction: column; /* vertical scrolling */
  flex-grow: 1;
  overflow-y: auto;
}
